::-webkit-scrollbar {
  width: 20px;
  /* height: 20px; */
  padding-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  padding-top: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: url("/scroll.svg") no-repeat;
}

::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px; */
  /* border-radius: 10px; */
  padding-top: 10px;
  background: url("/scroll.svg") no-repeat;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}
