@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "VT323", monospace; */
}
.tra {
  animation: spin 1400ms linear infinite;

  z-index: 30;
}
.spinnerr {
  width: 1000px !important;
  height: 1000px !important;
}

.backg {
  background-image: url("./bgMain.png");
}
.backlottery {
  background: url("../../public/roomgird.png") no-repeat;
  background-size: cover;
  /* background: #333; */
}
.spinnertrans {
  transform: translateX(-110px) !important;
}
.imgTrans {
  transform: translateX(-40px) !important;
}

@media only screen and (max-width: 900px) {
  .scaleres {
    transform: scale(0.8) !important;
  }
}
@media only screen and (max-width: 1200px) {
  .scaleres {
    transform: scale(0.9);
  }
}
@media only screen and (max-width: 700px) {
}

.font-pop {
  font-family: "Poppins", sans-serif !important;
  /* font-family: "VT323", monospace; */
}

/* .recharts-responsive-container {
  width: 250% !important;
} */

.font-zen {
  /* font-family: "Zen Dots", cursive !important; */
}
.grid-cont {
  display: grid;
  grid-template-columns: 10% 13% 13% 13% 13% 13%;
}

.pof {
  right: -10%;
  top: -47%;
}

.bagrad {
  background: url("/grad.png");
}
.MuiDialog-paper {
  border-radius: 50px !important;
  border: 4px solid black;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdc600;
  border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
  .grid-cont {
    grid-template-columns: 11% 16% 16% 16% 16% 16%;
  }
}
@media only screen and (max-width: 2000px) {
  .grid-cont {
    grid-template-columns: 11% 16% 16% 16% 16% 16%;
  }
  .pof {
    right: -60%;
  }
}

@media only screen and (max-width: 1500px) {
  .grid-cont {
    grid-template-columns: 11% 16% 16% 16% 16% 16%;
  }
  .backgr {
    background-image: url("./bgMain.png");
  }
}
